    <section id="contact" class="s-contact target-section">

        <div class="overlay"></div>

        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>İletişim</h3>
                <h1>Merhaba de</h1>
                
                <p class="lead">Yeni projeler, iş birlikleri veya sadece tanışmak için aşağıdaki formu doldurabilirsiniz. En kısa sürede size dönüş yapacağım.</p>
            </div>
        </div>

        <div class="row contact__main">
            <div class="col-eight tab-full contact__form">
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Adınız Soyadınız" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email Adresiniz" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Konu" value="" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Mesajınız" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Gönder</button>
                        <div class="submit-loader">
                            <div class="text-loader">Gönderiliyor...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Bir şeyler yanlış gitti. Lütfen tekrar deneyin.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Mesajınız gönderildi, teşekkür ederim!<br>
                </div>
                        
            </div>
<div class="col-four tab-full contact__infos">
            <h4 class="h06">Telefon & Email</h4>
            <p>
                +90 530 049 54 47<br>
                ysmnyklmz55@gmail.com
            </p>

            <h4 class="h06">Adres</h4>
            <p>
                Antalya, Türkiye
                
            </p>
        </div>

    </div>

</section>